In [1]:
import turicreate as tc

In [2]:
images_train_data=tc.SFrame('image_train_data')

In [3]:
sketch=tc.Sketch(images_train_data['label'])

In [4]:
sketch

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+------------+-------+
|   value    | count |
+------------+-------+
|    cat     |  509  |
|    dog     |  509  |
| automobile |  509  |
|    bird    |  478  |
+------------+-------+

In [5]:
dog_label=images_train_data[images_train_data['label']=='dog']

In [6]:
dog_label

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 509

Data:
+------+----------------------+-------+-------------------------------+
|  id  |        image         | label |         deep_features         |
+------+----------------------+-------+-------------------------------+
|  70  | Height: 32 Width: 32 |  dog  | [1.129795789718628, 0.0, 0... |
| 107  | Height: 32 Width: 32 |  dog  | [0.0, 0.0, 0.2206778526306... |
| 177  | Height: 32 Width: 32 |  dog  | [0.0, 1.4596567153930664, ... |
| 424  | Height: 32 Width: 32 |  dog  | [0.9423996806144714, 0.0, ... |
| 462  | Height: 32 Width: 32 |  dog  | [1.4346256256103516, 0.0, ... |
| 542  | Height: 32 Width: 32 |  dog  | [0.4515470862388611, 0.0, ... |
| 573  | Height: 32 Width: 32 |  dog  | [0.5923609733581543, 0.0, ... |
| 851  | Height: 32 Width: 32 |  dog  | [0.690123438835144, 0.0, 0... |
| 919  | Height: 32 Width: 32 |  dog  | [0.0, 0.17755866050720215,... |
| 1172 | Height: 32 Width: 32 |  dog  | [0.517601490020752, 0.0, 1... |
+------+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [154.0, 179.0, 152.0, 159.... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [55.0, 75.0, 42.0, 51.0, 7... |
| [60.0, 35.0, 18.0, 63.0, 4... |
| [86.0, 69.0, 75.0, 57.0, 4... |
| [196.0, 174.0, 113.0, 140.... |
| [153.0, 103.0, 52.0, 151.0... |
| [39.0, 6.0, 4.0, 53.0, 23.... |
| [29.0, 43.0, 4.0, 24.0, 35... |
| [182.0, 180.0, 197.0, 196.... |
+-------------------------------+
[509 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
create=lambda s : images_train_data[images_train_data['label']==s]

In [8]:
cat=create('cat')

In [9]:
cat

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 509

Data:
+-----+----------------------+-------+-------------------------------+
|  id |        image         | label |         deep_features         |
+-----+----------------------+-------+-------------------------------+
|  33 | Height: 32 Width: 32 |  cat  | [0.5250879526138306, 0.0, ... |
|  36 | Height: 32 Width: 32 |  cat  | [0.5660159587860107, 0.0, ... |
| 159 | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.0, 0.64327532... |
| 331 | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.5109639167785... |
| 367 | Height: 32 Width: 32 |  cat  | [1.3865805864334106, 0.0, ... |
| 384 | Height: 32 Width: 32 |  cat  | [1.0440353155136108, 0.0, ... |
| 494 | Height: 32 Width: 32 |  cat  | [0.0, 0.0539512038230896, ... |
| 597 | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.0470637083053... |
| 788 | Height: 32 Width: 32 |  cat  | [0.5058419108390808, 0.0, ... |
| 882 | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.1562002897262... |
+-----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 145.0, 135.0, 152.... |
| [45.0, 65.0, 92.0, 72.0, 9... |
| [168.0, 151.0, 143.0, 145.... |
| [46.0, 45.0, 50.0, 47.0, 4... |
| [26.0, 34.0, 29.0, 24.0, 2... |
| [133.0, 153.0, 138.0, 126.... |
| [184.0, 200.0, 197.0, 189.... |
| [141.0, 133.0, 112.0, 143.... |
+-------------------------------+
[509 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
bird=create('bird')

In [11]:
automobile=create('automobile')

In [12]:
knn_model_dog=tc.nearest_neighbors.create(dog_label,
                                         features=['deep_features'],
                                         label='id')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [13]:
knn_model_cat=tc.nearest_neighbors.create(cat,
                                         features=['deep_features'],
                                         label='id')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [14]:
knn_model_bird=tc.nearest_neighbors.create(bird,
                                         features=['deep_features'],
                                         label='id')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [15]:
knn_model_automobile=tc.nearest_neighbors.create(automobile,
                                         features=['deep_features'],
                                         label='id')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [16]:
test_data=tc.SFrame('image_test_data')

In [17]:
test_data

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 4000

Data:
+----+----------------------+------------+-------------------------------+
| id |        image         |   label    |         deep_features         |
+----+----------------------+------------+-------------------------------+
| 0  | Height: 32 Width: 32 |    cat     | [1.1346900463104248, 0.0, ... |
| 6  | Height: 32 Width: 32 | automobile | [0.2313588261604309, 0.0, ... |
| 8  | Height: 32 Width: 32 |    cat     | [0.0, 0.0, 0.0344192385673... |
| 9  | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 12 | Height: 32 Width: 32 |    dog     | [0.3223174810409546, 0.0, ... |
| 16 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.3473570346832... |
| 24 | Height: 32 Width: 32 |    dog     | [1.3155765533447266, 0.0, ... |
| 25 | Height: 32 Width: 32 |    bird    | [0.0, 0.31728875637054443,... |
| 31 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 33 | Height: 32 Width: 32 |    dog     | [0.1307867169380188, 0.727... |
+----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [158.0, 112.0, 49.0, 159.0... |
| [160.0, 37.0, 13.0, 185.0,... |
| [23.0, 19.0, 23.0, 19.0, 2... |
| [217.0, 215.0, 209.0, 210.... |
| [91.0, 64.0, 30.0, 82.0, 5... |
| [95.0, 76.0, 78.0, 92.0, 7... |
| [136.0, 134.0, 118.0, 142.... |
| [100.0, 103.0, 74.0, 68.0,... |
| [127.0, 130.0, 81.0, 130.0... |
| [118.0, 113.0, 81.0, 122.0... |
+-------------------------------+
[4000 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [18]:
test_data['image'][0:1].explore()

In [20]:
knn_model_cat.query(test_data[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 50.963ms     |

| Done         |         | 100         | 73.954ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |      16289      | 34.62371920804245  |  1   |
|      0      |      45646      | 36.00687992842462  |  2   |
|      0      |      32139      | 36.52008134363789  |  3   |
|      0      |      25713      | 36.754850252057054 |  4   |
|      0      |       331       | 36.87312281675268  |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [21]:
knn_model_dog.query(test_data[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 5.704ms      |

| Done         |         | 100         | 39.854ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |      16976      | 37.464262878423774 |  1   |
|      0      |      13387      | 37.56668321685285  |  2   |
|      0      |      35867      | 37.60472670789396  |  3   |
|      0      |      44603      | 37.70655851529755  |  4   |
|      0      |       6094      | 38.511325490739715 |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

# Question 4

In [23]:
knn_model_cat.query(test_data[0:1])['distance'].mean()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 5.623ms      |

| Done         |         | 100         | 28.422ms     |

+--------------+---------+-------------+--------------+

36.15573070978294

# Question 5

In [24]:
knn_model_dog.query(test_data[0:1])['distance'].mean()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 5.795ms      |

| Done         |         | 100         | 32.165ms     |

+--------------+---------+-------------+--------------+

37.77071136184157

# Question 7

In [26]:
image_test_cat=test_data[test_data['label']=='cat']
image_test_dog=test_data[test_data['label']=='dog']
image_test_automobile=test_data[test_data['label']=='automobile']
image_test_bird=test_data[test_data['label']=='bird']

In [29]:
dog_cat_neighbours=knn_model_cat.query(image_test_dog,k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 64000   | 12.5737     | 292.433ms    |

| Done         | 509000  | 100         | 309.192ms    |

+--------------+---------+-------------+--------------+

In [31]:
dog_car_neighbors = knn_model_automobile.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 64000   | 12.5737     | 257.221ms    |

| Done         | 509000  | 100         | 270.787ms    |

+--------------+---------+-------------+--------------+

In [32]:
dog_bird_neighbors = knn_model_bird.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 60000   | 12.5523     | 206.741ms    |

| Done         | 478000  | 100         | 247.502ms    |

+--------------+---------+-------------+--------------+

In [33]:
dog_dog_neighbors = knn_model_dog.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 64000   | 12.5737     | 207.845ms    |

| Done         | 509000  | 100         | 236.979ms    |

+--------------+---------+-------------+--------------+

In [35]:
dog_distances=tc.SFrame({'dog-automobile': dog_car_neighbors['distance'],'dog-bird': dog_bird_neighbors['distance'], 'dog-cat': dog_cat_neighbours['distance'], 'dog-dog': dog_dog_neighbors['distance']})

In [36]:
dog_distances

Columns:
	dog-automobile	float
	dog-bird	float
	dog-cat	float
	dog-dog	float

Rows: 1000

Data:
+--------------------+--------------------+--------------------+
|   dog-automobile   |      dog-bird      |      dog-cat       |
+--------------------+--------------------+--------------------+
| 41.95797614571203  | 41.75386473035126  | 36.419607706754384 |
| 46.00213318067788  |  41.3382958924861  | 38.83532688735542  |
| 42.946229069238804 | 38.615759085289056 | 36.97634108541546  |
| 41.68660600484793  | 37.08922699538214  | 34.575007291446106 |
| 39.22696649347584  | 38.27228869398105  | 34.77882479101661  |
| 40.58451176980721  | 39.146208923590486 | 35.11715782924591  |
| 45.10673529610854  | 40.523040105962316 | 40.60958309132649  |
| 41.32211409739762  | 38.19479183926956  | 39.90368673062214  |
| 41.82446549950164  | 40.156713166131446 | 38.067470016821176 |
| 45.497692940110376 | 45.55979626027668  | 42.72587329506032  |
+--------------------+--------------------+--------------------+
+--------------------+
|      dog-dog       |
+--------------------+
| 33.47735903726335  |
| 32.84584956840554  |
| 35.03970731890584  |
| 33.90103276968193  |
| 37.484925090925636 |
| 34.94516534398124  |
| 39.095727834463545 |
| 37.76961310322034  |
| 35.10891446032838  |
| 43.242283258453455 |
+--------------------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [40]:
def is_Correct(row):
    if row['dog-dog'] < row['dog-automobile'] and row['dog-dog'] < row['dog-bird'] and row['dog-dog'] < row['dog-cat']:
        return 1
    else:
        return 0

In [47]:
demo=dog_distances[0:1]
is_Correct(demo)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [44]:
dog_distances.apply(is_Correct).sum()

678

In [48]:
dog_distances.num_rows()

1000

In [49]:
67/1000

0.067